@model appWebEjemplo.Models.Alumno

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Deseas eliminar este registro?</h3>
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoCarrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoCarrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCarrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreCarrera)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="text" name="codigo" value="@Model.codigo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
